@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Search Inputs</h1>
    <form>
        <p>
            latitude: <input type="text" asp-for="SearchLatitude" />
            longitude: <input type="text" asp-for="SearchLongitude" />
            amount of results: <input type="text" asp-for="SearchAmount" />
            preferred food: <input type="text" asp-for="SearchFood" />
            <input type="submit" value="Search" />
        </p>
    </form>
      <div id="Grid">
        <table cellpadding="5" cellspacing="0" style="border: 1pxsolid #ccc;font-size: 9pt;font-family:Arial">
            <tr>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">locationid</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Applicant</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">FacilityType</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">cnn</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">LocationDescription</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Address</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">blocklot</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">block</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">lot</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">permit</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Status</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">FoodItems</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">X</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Y</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Latitude</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Longitude</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Schedule</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">dayshours</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">NOISent</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Approved</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Received</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">PriorPermit</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">ExpirationDate</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Location</th>
            </tr>
            @foreach (var foodTruck in Model.FoodTrucks)
            {
                <tr>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.locationid</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.Applicant</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.FacilityType</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.cnn</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.LocationDescription</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.Address</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.blocklot</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.block</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.lot</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.permit</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.Status</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.FoodItems</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.X</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.Y</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.Latitude</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.Longitude</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.Schedule</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.dayshours</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.NOISent</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.Approved</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.Received</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.PriorPermit</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.ExpirationDate</td>
                    <td style="width:120px;border: 1px solid #ccc">@foodTruck.Location</td>
                </tr>
            }
        </table>
    </div>
</div>
